<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <%= link_to 'MY APP', root_path, class: 'nav-link' %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav active">
      <li class="nav-item active">
        <%= link_to 'HOME', root_path, class: "nav-link #{ 'active' if action_name == 'index' }" %>
      </li>
      <li class="nav-item">
        <%= link_to 'ABOUT US', about_path, class: "nav-link #{ 'active' if action_name == 'about' }" %>
      </li>
      <li class="nav-item">
        <%= link_to 'CONTACT US', contact_us_path, class: "nav-link #{ 'active' if action_name == 'contact_us' }" %>
      </li>
    </ul>
  </div>
</nav>
<%= @page %>